$font-family: 'Golos Text', Helvetica Neue, Helvetica, Arial, sans-serif;

$blue-95: #000c1a;
$blue-90: #001832;
$blue-85: #00254b;
$blue-80: #003164;
$blue-75: #003d7d;
$blue-70: #004995;
$blue-65: #0056af;
$blue-60: #0062c7;
$blue-55: #006ee0;
$blue-50: #007bf9;
$blue-45: #1987f9;
$blue-40: #3395fa;
$blue-35: #4ca2fb;
$blue-30: #66affb;
$blue-25: #7fbcfc;
$blue-20: #99cafd;
$blue-15: #b2d7fd;
$blue-10: #cce4fe;
$blue-5: #e5f1ff;

$green-95: #001005;
$green-90: #001f0a;
$green-85: #002e10;
$green-80: #003d15;
$green-75: #014d1b;
$green-70: #015c20;
$green-65: #016c25;
$green-60: #017b2b;
$green-55: #018a30;
$green-50: #029a36;
$green-45: #1aa349;
$green-40: #34ae5e;
$green-35: #4db871;
$green-30: #67c286;
$green-25: #80cc9a;
$green-20: #99d6ae;
$green-15: #b2e0c2;
$green-10: #ccebd6;
$green-5: #e5f5ea;

$orange-95: #191200;
$orange-90: #302200;
$orange-85: #493400;
$orange-80: #604400;
$orange-75: #785600;
$orange-70: #906600;
$orange-65: #a87800;
$orange-60: #c08800;
$orange-55: #d89a00;
$orange-50: #f0ab00;
$orange-45: #f1b319;
$orange-40: #f3bb33;
$orange-35: #f4c44c;
$orange-30: #f6cc66;
$orange-25: #f7d57f;
$orange-20: #f9dd99;
$orange-15: #fbe6b2;
$orange-10: #fceecc;
$orange-5: #fef7e5;

$purple-95: #150b18;
$purple-90: #29152f;
$purple-85: #3e2047;
$purple-80: #522b5e;
$purple-75: #673675;
$purple-70: #7b408c;
$purple-65: #904ba4;
$purple-60: #a456bb;
$purple-55: #b961d3;
$purple-50: #ce6cea;
$purple-45: #d27aec;
$purple-40: #d789ee;
$purple-35: #dc97f0;
$purple-30: #e1a6f2;
$purple-25: #e6b5f4;
$purple-20: #ebc4f7;
$purple-15: #f0d2f9;
$purple-10: #f5e1fb;
$purple-5: #faf0fd;

$red-95: #180304;
$red-90: #2e0608;
$red-85: #46090c;
$red-80: #5c0c10;
$red-75: #731015;
$red-70: #8a1319;
$red-65: #a1161d;
$red-60: #b81921;
$red-55: #cf1c25;
$red-50: #e6202a;
$red-45: #e8353e;
$red-40: #eb4c54;
$red-35: #ed6269;
$red-30: #f0797f;
$red-25: #f28f94;
$red-20: #f5a5a9;
$red-15: #f8bbbe;
$red-10: #fad2d4;
$red-5: #fde8e9;

$ui-120: #000000;
$ui-110: #1a1a1a;
$ui-100: #393939;
$ui-90: #525252;
$ui-80: #6f6f6f;
$ui-70: #8d8d8d;
$ui-60: #a8a8a8;
$ui-50: #c6c6c6;
$ui-40: #e0e0e0;
$ui-30: #f0f0f0;
$ui-20: #f3f3f3;
$ui-10: #ffffff;

$transition: all 150ms ease-in-out 0s;
